In [1]:
import pandas as pd
import numpy as np
import torch
from pathlib import Path

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is 5E7E-789E

 Directory of C:\Users\Gary2\Partners HealthCare Dropbox\Gurdip Uppal\research_bwh\MCSPACE_FINAL\MCSPACE\mcspace\tutorials

09/30/2024  10:47 AM    <DIR>          .
09/24/2024  05:55 PM    <DIR>          ..
09/30/2024  09:37 AM    <DIR>          .ipynb_checkpoints
09/24/2024  05:54 PM    <DIR>          _old
09/30/2024  09:38 AM               609 temp_format_data_preprocess_organize.ipynb
09/30/2024  11:12 AM    <DIR>          toy_datasets
09/30/2024  10:47 AM            12,355 TUTORIAL_data_loading_preprocessing.ipynb
               2 File(s)         12,964 bytes
               5 Dir(s)  891,493,806,080 bytes free

# Paths

In [4]:
basepath = Path("./")
datapath = basepath / "toy_datasets"
mousepath = datapath / "mouse_timeseries"

## create smaller version of mouse dataset

In [5]:
taxonomy = pd.read_csv(mousepath / "tax.csv")

In [6]:
taxonomy.head()

,Otu,domain,dconf,phylum,pconf,class,cconf,order,oconf,family,fconf,genus,gconf
0,Otu1,Bacteria,1.0,Firmicutes,1.0,Bacilli,1.0,Lactobacillales,1.0,Lactobacillaceae,1.00,Lactobacillus,0.99
1,Otu7,Bacteria,1.0,Firmicutes,1.0,Clostridia,1.0,Clostridiales,1.0,Lachnospiraceae,1.00,Clostridium_XlVa,0.68
2,Otu11,Bacteria,1.0,Actinobacteria,1.0,Coriobacteriia,1.0,Eggerthellales,1.0,Eggerthellaceae,1.00,Adlercreutzia,0.85
3,Otu8,Bacteria,1.0,Bacteroidetes,1.0,Bacteroidia,1.0,Bacteroidales,1.0,Muribaculaceae,0.99,Duncaniella,0.99
4,Otu2,Bacteria,1.0,Verrucomicrobia,1.0,Verrucomicrobiae,1.0,Verrucomicrobiales,1.0,Akkermansiaceae,1.00,Akkermansia,1.00

### to do: filter tax by confidence and save locally...

In [7]:
ls "./toy_datasets/mouse_timeseries/"

 Volume in drive C is OS
 Volume Serial Number is 5E7E-789E

 Directory of C:\Users\Gary2\Partners HealthCare Dropbox\Gurdip Uppal\research_bwh\MCSPACE_FINAL\MCSPACE\mcspace\tutorials\toy_datasets\mouse_timeseries

09/30/2024  11:13 AM    <DIR>          .
09/30/2024  11:12 AM    <DIR>          ..
08/13/2024  01:22 PM        12,618,963 mouse_counts.csv.gz
06/11/2024  12:13 PM           157,797 tax.csv
               2 File(s)     12,776,760 bytes
               2 Dir(s)  891,494,084,608 bytes free

In [8]:
counts = pd.read_csv(mousepath / "mouse_counts.csv.gz", compression='gzip')

C:\Users\Gary2\AppData\Local\Temp\ipykernel_12976\2770456188.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  counts = pd.read_csv(mousepath / "mouse_counts.csv.gz", compression='gzip')

In [10]:
counts.head()

,Unnamed: 0.1,Unnamed: 0,Particle,OTU,Sample,replicate,Count,Subject,chow,Time,timepoint,empty_tube_weight_mg,pellet_tube_weight_mg
0,0,0,20231021_1123_1_S_MEbcnum60_80_90,Otu1,20231021_1123_1_S_ME,1,537,JX07,standard,57,AM,1012.45,1054.25
1,1,1,20231021_1123_1_S_MEbcnum22_63_29,Otu1,20231021_1123_1_S_ME,1,79,JX07,standard,57,AM,1012.45,1054.25
2,2,2,20231021_1123_1_S_MEbcnum22_38_88,Otu1,20231021_1123_1_S_ME,1,7,JX07,standard,57,AM,1012.45,1054.25
3,3,3,20231021_1123_1_S_MEbcnum22_94_35,Otu1,20231021_1123_1_S_ME,1,12,JX07,standard,57,AM,1012.45,1054.25
4,4,4,20231021_1123_1_S_MEbcnum22_92_8,Otu1,20231021_1123_1_S_ME,1,34,JX07,standard,57,AM,1012.45,1054.25

In [12]:
counts['Time'].unique()

array([57, 35, 43, 65, 76, 10, 18], dtype=int64)

## keep only first 4 timepoints

In [21]:
counts.shape

(1056245, 13)

In [30]:
counts_toy = counts.loc[((counts['Time'] == 10) | (counts['Time'] == 18) | (counts['Time'] == 35) | (counts['Time'] == 43)),:]

In [31]:
counts_toy.shape

(501235, 13)

In [32]:
counts_toy2 = counts_toy.iloc[:,2:]

In [33]:
counts_toy2['Subject'].unique()

array(['JX07', 'JX08', 'JX09', 'JX10'], dtype=object)

In [36]:
counts_toy3 = counts_toy2.iloc[:,:-3]

In [37]:
counts_toy3

,Particle,OTU,Sample,replicate,Count,Subject,chow,Time
18907,20231021_727_1_S_MEbcnum26_43_56,Otu1,20231021_727_1_S_ME,1,238,JX07,standard,35
18908,20231021_727_1_S_MEbcnum60_9_46,Otu1,20231021_727_1_S_ME,1,20711,JX07,standard,35
18909,20231021_727_1_S_MEbcnum60_23_32,Otu1,20231021_727_1_S_ME,1,9343,JX07,standard,35
18910,20231021_727_1_S_MEbcnum60_96_61,Otu1,20231021_727_1_S_ME,1,1424,JX07,standard,35
18911,20231021_727_1_S_MEbcnum60_3_32,Otu1,20231021_727_1_S_ME,1,10694,JX07,standard,35
...,...,...,...,...,...,...,...,...
1056240,Prt02_890_2bcnum3_54_67,Otu998,Prt02_890_2,2,2,JX08,pectin,43
1056241,20231123_442_r1_S6_L001bcnum35_76_64,Otu999,20231123_442_r1_S6_L001,r1,6,JX10,HFD,18
1056242,20231123_442_r1_S6_L002bcnum35_76_64,Otu999,20231123_442_r1_S6_L002,r1,11,JX10,HFD,18
1056243,20231123_442_r1_S6_L003bcnum35_76_64,Otu999,20231123_442_r1_S6_L003,r1,6,JX10,HFD,18
1056244,20231123_442_r1_S6_L004bcnum35_76_64,Otu999,20231123_442_r1_S6_L004,r1,10,JX10,HFD,18

In [42]:
counts_toy3.to_csv(mousepath / "counts.csv", index=False)

In [43]:
from mcspace.utils import apply_taxonomy_threshold

In [45]:
# taxonomy = apply_taxonomy_threshold(taxonomy)

In [47]:
taxonomy.to_csv(mousepath / "taxonomy.csv")