In [2]:
from pathlib import Path
import pandas as pd

# Paths

In [6]:
basepath = Path("./")
outpath = Path("../")
datapath = basepath

# Clean up data and output processed files for MCSPACE

In [7]:
tempdata = pd.read_csv(datapath / "full_inulin_dataset_for_BWH.csv")

In [8]:
tempdata.head()

,OTU,Particle,Sample,Count,Phylum,Order,Class,Family,Genus,Species,16S_Sequence,Experiment,Day,ParticleSum,OTUsPerParticleRaw,ParticleRelativeAbundance,OTUsPerParticleCutoff,Period
0,OTU1,20240306inulinday10bcnum26_19_34,Exp2-Day10,104,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,104,1,1.000000,1,Post-Inulin
1,OTU1,20240306inulinday10bcnum26_6_34,Exp2-Day10,1320,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,1320,1,1.000000,1,Post-Inulin
2,OTU1,20240306inulinday10bcnum26_30_58,Exp2-Day10,420,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,1466,5,0.286494,5,Post-Inulin
3,OTU1,20240306inulinday10bcnum60_6_14,Exp2-Day10,1039,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,6423,8,0.161762,2,Post-Inulin
4,OTU1,20240306inulinday10bcnum60_29_40,Exp2-Day10,24757,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,75034,87,0.329944,6,Post-Inulin

In [9]:
colskeep = ["OTU", "Count", "Particle", "Sample", "Day","Period"]

In [10]:
data = tempdata[colskeep]

In [11]:
mapper = {"Day": "Time"}
data.rename(columns=mapper, inplace=True)
data['Subject'] = "H11"

/tmp/ipykernel_50703/3615312611.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns=mapper, inplace=True)
/tmp/ipykernel_50703/3615312611.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Subject'] = "H11"

In [12]:
data.head()

,OTU,Count,Particle,Sample,Time,Period,Subject
0,OTU1,104,20240306inulinday10bcnum26_19_34,Exp2-Day10,10,Post-Inulin,H11
1,OTU1,1320,20240306inulinday10bcnum26_6_34,Exp2-Day10,10,Post-Inulin,H11
2,OTU1,420,20240306inulinday10bcnum26_30_58,Exp2-Day10,10,Post-Inulin,H11
3,OTU1,1039,20240306inulinday10bcnum60_6_14,Exp2-Day10,10,Post-Inulin,H11
4,OTU1,24757,20240306inulinday10bcnum60_29_40,Exp2-Day10,10,Post-Inulin,H11

### output counts file

In [13]:
data.to_csv(outpath / "count_data.csv")

### make tax and perts csv files

In [14]:
taxcols = ['OTU', 'Phylum', 'Order', 'Class', 'Family', 'Genus', 'Species']

In [15]:
taxonomy = tempdata[taxcols]

In [16]:
taxonomy

,OTU,Phylum,Order,Class,Family,Genus,Species
0,OTU1,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis
1,OTU1,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis
2,OTU1,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis
3,OTU1,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis
4,OTU1,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis
...,...,...,...,...,...,...,...
129482,OTU98,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Blautia,NaN
129483,OTU981,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Lachnospiraceae NC2004 group,NaN
129484,OTU988,Firmicutes,unclassified_Clostridia,Clostridia,NaN,NaN,NaN
129485,OTU988,Firmicutes,unclassified_Clostridia,Clostridia,NaN,NaN,NaN
129486,OTU993,Firmicutes,Peptostreptococcales-Tissierellales,Clostridia,Parvimonas,NaN,NaN

In [17]:
taxonomy["Domain"] = "Bacteria"

/tmp/ipykernel_50703/2546152578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  taxonomy["Domain"] = "Bacteria"

In [18]:
taxcolord = ['OTU','Domain', 'Phylum', 'Order', 'Class', 'Family', 'Genus', 'Species']
taxonomy = taxonomy[taxcolord]

In [19]:
taxonomy["OTU"] = taxonomy["OTU"].str.replace(r'^OTU', 'Otu', regex=True)
taxonomy.rename(columns={"OTU":"Otu"}, inplace=True)

In [20]:
taxonomy=taxonomy.drop_duplicates(subset='Otu')

In [21]:
taxonomy = taxonomy.fillna('na')

In [22]:
taxonomy

,Otu,Domain,Phylum,Order,Class,Family,Genus,Species
0,Otu1,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis
17024,Otu10,Bacteria,Firmicutes,Oscillospirales,Clostridia,Ruminococcaceae,Ruminococcus,bromii
25360,Otu1001,Bacteria,Actinobacteriota,na,unclassified_Actinobacteriota,na,na,na
25362,Otu1002,Bacteria,Firmicutes,Oscillospirales,Clostridia,unclassified_Oscillospirales,na,na
25368,Otu1003,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,unclassified_Lachnospiraceae,na
...,...,...,...,...,...,...,...,...
128708,Otu97,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,unclassified_Lachnospiraceae,na
129184,Otu98,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Blautia,na
129483,Otu981,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Lachnospiraceae NC2004 group,na
129484,Otu988,Bacteria,Firmicutes,unclassified_Clostridia,Clostridia,na,na,na
129486,Otu993,Bacteria,Firmicutes,Peptostreptococcales-Tissierellales,Clostridia,Parvimonas,na,na

In [23]:
# change any 'unclassified' to na as well
taxdf = taxonomy.applymap(lambda x: 'na' if isinstance(x, str) and x.startswith('unclass') else x)

/tmp/ipykernel_50703/1687300652.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  taxdf = taxonomy.applymap(lambda x: 'na' if isinstance(x, str) and x.startswith('unclass') else x)

In [24]:
taxdf

,Otu,Domain,Phylum,Order,Class,Family,Genus,Species
0,Otu1,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis
17024,Otu10,Bacteria,Firmicutes,Oscillospirales,Clostridia,Ruminococcaceae,Ruminococcus,bromii
25360,Otu1001,Bacteria,Actinobacteriota,na,na,na,na,na
25362,Otu1002,Bacteria,Firmicutes,Oscillospirales,Clostridia,na,na,na
25368,Otu1003,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,na,na
...,...,...,...,...,...,...,...,...
128708,Otu97,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,na,na
129184,Otu98,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Blautia,na
129483,Otu981,Bacteria,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Lachnospiraceae NC2004 group,na
129484,Otu988,Bacteria,Firmicutes,na,Clostridia,na,na,na
129486,Otu993,Bacteria,Firmicutes,Peptostreptococcales-Tissierellales,Clostridia,Parvimonas,na,na

In [25]:
taxdf.to_csv(outpath / "taxonomy.csv")

### output perturbation data

In [26]:
perturbation = pd.DataFrame({'Time': ['1','2', '4', '7','8','10','11'], 
                            'Perturbed': ["0", "0", "0", "1", '1','0','0']})

In [27]:
perturbation

  Time Perturbed
0    1         0
1    2         0
2    4         0
3    7         1
4    8         1
5   10         0
6   11         0

In [28]:
perturbation.to_csv(outpath / "perturbation.csv")

### Output fasta file of 16S sequences

In [29]:
tempdata

,OTU,Particle,Sample,Count,Phylum,Order,Class,Family,Genus,Species,16S_Sequence,Experiment,Day,ParticleSum,OTUsPerParticleRaw,ParticleRelativeAbundance,OTUsPerParticleCutoff,Period
0,OTU1,20240306inulinday10bcnum26_19_34,Exp2-Day10,104,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,104,1,1.000000,1,Post-Inulin
1,OTU1,20240306inulinday10bcnum26_6_34,Exp2-Day10,1320,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,1320,1,1.000000,1,Post-Inulin
2,OTU1,20240306inulinday10bcnum26_30_58,Exp2-Day10,420,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,1466,5,0.286494,5,Post-Inulin
3,OTU1,20240306inulinday10bcnum60_6_14,Exp2-Day10,1039,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,6423,8,0.161762,2,Post-Inulin
4,OTU1,20240306inulinday10bcnum60_29_40,Exp2-Day10,24757,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Agathobacter,rectalis,TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,10,75034,87,0.329944,6,Post-Inulin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129482,OTU98,20240306inulinday8s2bcnum88_29_63,Exp2-Day8,150,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Blautia,NaN,TACGTAGGGGGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,8,4851,25,0.030921,10,During-Inulin
129483,OTU981,20240306inulinday4s2bcnum66_42_3,Exp2-Day4,1,Firmicutes,Lachnospirales,Clostridia,Lachnospiraceae,Lachnospiraceae NC2004 group,NaN,TACGTAGGGAGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGAG...,Exp2,4,37,10,0.027027,10,Pre-Inulin
129484,OTU988,20240306inulinday10bcnum63_37_55,Exp2-Day10,75,Firmicutes,unclassified_Clostridia,Clostridia,NaN,NaN,NaN,TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAATGGAG...,Exp2,10,76,2,0.986842,1,Post-Inulin
129485,OTU988,20240306inulinday11s2bcnum18_69_59,Exp2-Day11,1,Firmicutes,unclassified_Clostridia,Clostridia,NaN,NaN,NaN,TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAATGGAG...,Exp2,11,29,3,0.034483,3,Post-Inulin
129486,OTU993,20240306inulinday8s2bcnum18_34_33,Exp2-Day8,418,Firmicutes,Peptostreptococcales-Tissierellales,Clostridia,Parvimonas,NaN,NaN,TACGTATGGGGCGAGCGTTGTCCGGAATTATTGGGCGTAAAGGGTA...,Exp2,8,19294,58,0.021665,10,During-Inulin

In [31]:
x = tempdata.iloc[0,:]['16S_Sequence']

In [32]:
print(len(x))

69

In [33]:
otu_seqs = tempdata[['OTU', '16S_Sequence']]

In [34]:
otu_seqs.head()

    OTU                                       16S_Sequence
0  OTU1  TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
1  OTU1  TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
2  OTU1  TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
3  OTU1  TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
4  OTU1  TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...

In [36]:
otu_seqs.drop_duplicates(subset='OTU', inplace=True)

/tmp/ipykernel_50703/916075768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  otu_seqs.drop_duplicates(subset='OTU', inplace=True)

In [37]:
otu_seqs

            OTU                                       16S_Sequence
0          OTU1  TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
17024     OTU10  TACGTAGGGAGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGTG...
25360   OTU1001  TACGTAGGGGGCGAGCGTTATCCGGATTCATTGGGCGTAAAGGGCT...
25362   OTU1002  TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAG...
25368   OTU1003  TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGAG...
...         ...                                                ...
128708    OTU97  TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
129184    OTU98  TACGTAGGGGGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
129483   OTU981  TACGTAGGGAGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGAG...
129484   OTU988  TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAATGGAG...
129486   OTU993  TACGTATGGGGCGAGCGTTGTCCGGAATTATTGGGCGTAAAGGGTA...

[762 rows x 2 columns]

In [38]:
otu_seqs["OTU"] = otu_seqs["OTU"].str.replace(r'^OTU', 'Otu', regex=True)

/tmp/ipykernel_50703/1455655276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  otu_seqs["OTU"] = otu_seqs["OTU"].str.replace(r'^OTU', 'Otu', regex=True)

In [39]:
otu_seqs

            OTU                                       16S_Sequence
0          Otu1  TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
17024     Otu10  TACGTAGGGAGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGTG...
25360   Otu1001  TACGTAGGGGGCGAGCGTTATCCGGATTCATTGGGCGTAAAGGGCT...
25362   Otu1002  TACGTAGGGAGCGAGCGTTGTCCGGAATTACTGGGTGTAAAGGGAG...
25368   Otu1003  TACGTAGGTGGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGAG...
...         ...                                                ...
128708    Otu97  TACGTATGGTGCAAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
129184    Otu98  TACGTAGGGGGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...
129483   Otu981  TACGTAGGGAGCAAGCGTTGTCCGGATTTACTGGGTGTAAAGGGAG...
129484   Otu988  TACGTAGGTGGCAAGCGTTGTCCGGAATTACTGGGTGTAAATGGAG...
129486   Otu993  TACGTATGGGGCGAGCGTTGTCCGGAATTATTGGGCGTAAAGGGTA...

[762 rows x 2 columns]

In [40]:
with open(outpath / 'zotus.fa', 'w') as f:
    for index, row in otu_seqs.iterrows():
        header = f">{row['OTU']}"
        sequence = row['16S_Sequence']
        f.write(f"{header}\n{sequence}\n")